@import "tailwindcss";

:root {
  --white:#FFFFFF;
  --gray-800: #121214;
  --gray-700: #121214;
  --gray-600: #323238;
  --green-800: #00875F;
  --green-500: #00B37E;
}

*{
  font-family: Roboto, san;
}